.menu {
    display: table;
    width: 90%;
    margin-top: 0px;
    margin-bottom: 20px;
}

.menu li {
    display: table-cell;
    float: none;
}
.menu li a {
    display: block;
    margin: 0 0 0 0;
    padding: 8px 25px;
    background: #e8e8e8;
    font-size: 14px;
    color: #9F6B08;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}

.menu li a:hover {
    background: #528CBF;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

body{
	margin: 0px;
	padding: 0px;
}
p{
    margin: 3px;
}
  nav {
       float: none;
  }

.menu-l{
	float: left;
	font-size:20px;
	font-weight: 800;
	margin-top: 35px; 
}
.nav{
	margin: 28px auto 0px auto;
	max-width: 500px;
}
img{
	float: right;
	max-width: 80px;
	height:auto;
    margin-top: 5px;
}
.button{
    border: 1px solid #9F6B08;
    color: 	#9F6B08;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.35);
    float: left;
    margin: 0px 3px;
    text-decoration: none;
}
.car1{

	height: 600px;
	background-image: url("image/1.jpg");
	background-position: 50% 65%;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 1px;
}
.car2{
	height: 600px;
	background-image: url("image/2.jpg");
	background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1px;
}

.block{
	max-width: 400px;
	background: rgba(232,232,232,0.4);
	border: 2px solid 	#9F6B08;
	border-top-left-radius: 50px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 5px;
	margin-top: 50px;
	margin-left: 3%;
	padding: 6px;
}
.block-h3{
	font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}
.block-p{
	font-size: 25px;
	text-align: center;
    margin-bottom: 30px;
}
.block1{
	width: 180px;
	height: 350px;
    background: rgba(232,232,232,0.8);
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    float: left;
    margin: 0% 2%;

}
.color1{
    height: 80px;
    background: #282928 ;
}
.color2{
    height: 80px;
    background: #040404;
}
.color3{
	height: 80px;
    background: #9F6B08 ;
}
.button2{
	color: 	#9F6B08;
	font-size: 20px;
	padding: 10px;
	border-radius: 8px;
	background: #ffffff;
	box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
	text-decoration: none;
	margin: 0px auto;
}
.wrap{
	margin: -300px auto;
	max-width: 1080px;
}
.bottom{
	background: black;
	height: 100px;
	color: rgb(192,192,192);
	padding-top: 20px;
}
.bottom-r{
	float: right;
}